*{ /*font-size: 0px;*/
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
   
}
body{
    padding: 1.5em;
    padding-right: 6%;
    font-family: 'Roboto', sans-serif;
   
}
header {
    text-align:end;
    text-align: right;
    height: 115px;
    padding-top: 90px;
    padding-bottom: 4%;
    padding-right: 7.2%;
    position: relative;

}
h2{
    
    font-size: 1.9rem;
    color: #282828;
    display: inline-block;
    font-family: "Crimson Text",Georgia,Serif;
    
}
.introduction{
    height: 30px;
    width: 75%;
    text-align:left;
    padding: 30px;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 2.5rem;
    font-weight: 600;
    animation-duration: 3s;
    animation-name: slidein;}
    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      
}
.flex-main-container{
    display: flex;
    height: 100%;
    width: 100%;
    border: solid purple;
    flex-direction: column;
    position: relative;
    margin-left: 4%;   
       
}
.flex-container{
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 border-color: rgb(241, 237, 237);
 border-style: dashed;
 height: 100%;
 width: 100%;
 position: relative;

}
.first-box{
display: flex;
height: 330px;
width: 48%;
box-sizing: border-box;
overflow: hidden;

}
.second-box{
    display: flex;
    height: 330px;
    width: 46%;
    overflow: hidden;   
    box-sizing: border-box;
    position: relative;
    border-style: dotted;
  
}
.third-box{
    display: flex;
    height: 300px;
    width: 48%;
    flex-wrap: wrap;
    overflow: hidden;
    box-sizing: border-box;
    position:relative;
    top: -30px;
}
.four-box{
    display: flex;
    height: 330px;
    width: 46%;
    overflow: hidden;
    box-sizing: border-box; 
    border-style: dotted;
    position:relative; 
    top: -1px;   
}
.five-box{
        display: flex;
        height: 100%;
        width: 6%;
        flex-direction: column;
       
        box-sizing: border-box;
        position: absolute;
        right: 0;
        
}
.knowledge {
   text-align: center;
   color: #484747;
   padding-top: 60px;
     
}
.skills{
    display: flex;
    height: 19%;
    width: 94%;
    padding: 5%;
    justify-content: center;
    display: inline block;
    border-style: dashed;
    box-sizing: border-box;
}
.skills-one{
    display: flex;
    height: 90px;
    width: 90px;
    /*border-style: solid;*/
    
}
.skills-two{
    display: flex;
    height: 90px;
    width: 90px;
    margin-left:10%;
    border: solid;
    
}
.skills-three{
    display: flex;
    height: 20px;
    width: 20px;
    margin-left:10%;
    justify-content:space-around;
}
form{
    height: 40%;
    width: 94%;
    background-color: rgb(214, 235, 235);
    text-align: center;
}
h3{
    padding: 5px;
    font-size: 1.3rem;
}
/*form{
    width: 35%;
    margin-top: 10px;
    line-height: 20px;*/
    

input#name{
    width: 25%;
    margin-top: 15px;    
    border-style: none;
    border-bottom:solid 0.3px black ;
    font-size: 1.3rem;
}
input#email{
    width: 25%;
    margin-top: 15px;    
    border-style: none;
    border-bottom:solid 0.3px black ;
    font-size: 1.3rem;
}
textarea{
    width: 25%;
    margin-top: 15px;    
    border-style: none;
    border-bottom:solid 0.3px black ;
    font-size: 1.3rem;
}
#submit{
    width: 25%;
    margin-top: 15px;    
    border-style: none;
    font-size: 1.3rem;
    background: red;
}
#submit:hover{
background-color: rgb(241, 107, 107);
}
.datos{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;

}

