*{ /*font-size: 0px;*/
    margin: 0px;
    padding: 0px;
    font-family: "Karla","Helvetica Neue",Helvetica,Arial,sans-serif;
   
}
body{
    padding: 1.5em;
    padding-right: 6%;
    font-family: 'Roboto', sans-serif;
   
}
header {
    text-align:end;
    text-align: right;
    height: 90px;
    padding-top: 30px;
    padding-bottom: 4%;
    padding-right: 7.2%;
    position: relative;

}
h2{
    
    font-size: 1.9rem;
    color: #282828;
    display: inline-block;
    font-family: "Crimson Text",Georgia,Serif;
    
}
.introduction{
    height: 30px;
    width: 75%;
    text-align:left;
    padding: 30px;
    font-family: "Karla","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5rem;
    color: rgba(72, 75, 78, 0.993);
    font-weight: 600;
    animation-duration: 3s;
    animation-name: slidein;}
    @keyframes slidein {
        from {
          opacity: 0;
        }
      
        to {
          opacity: 1;
        }
      
}
.flex-main-container{
    display: flex;
    height: 100%;
    width: 100%;
    border: solid purple;
    flex-direction: column;
    position: relative;
    margin-left: 4%;  
    animation:mymove 3s; 
       
}
  @keyframes mymove {
    from {top: 50px;}
    to {top: 0px;}
  }
.flex-container-left{
 display: flex;
 flex-direction: column;
 border-color: rgb(192, 48, 48);
 height: 90vh;
 width: 46%;
 position: relative;
 overflow: hidden;
 box-sizing:border-box;
}
.first-box{
    width: 100%;
    height: 45vh;
    border-color: rgb(58, 226, 43);
    border-style: dotted;
    overflow: hidden;
}
.first-box:before{
    content:"";
    width: 100%;
    height: 45vh;
    position: absolute;
    background-color: rgb(56, 46, 46);
    opacity: 0.5;
}
video{
    width: 100%;

}
h4{
    position: absolute;
    text-align: center;
    width: 50%;
    height: 10%;
    z-index: 1;
    font-size: 1.1rem;
    color: white;
    top: 15vh;
}

.second-box{
    width: 100%;
    height: 45vh;
    border-color: rgb(204, 85, 30);
    border-style: dotted;
    box-sizing: border-box;

}
.second-box:before{
    content:"";
    width: 100%;
    height: 45vh;
    position: absolute;
    background-color: rgb(218, 248, 47);
    opacity: 0.5;

}
.flex-container-right{
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 110vh;
    overflow: hidden;
    border-color: rgb(20, 17, 189);
    border-style: dotted;
    box-sizing: border-box;
    position: absolute;
    margin-left: 46%;
}
.third-box{
    height: 55vh;
    width: 100%;
    border-color: burlywood;
    border-style: dotted;
}
.four-box{
    height: 55vh;
    width: 100%;
}
.five-box{
    position: absolute;
    margin-left: 94%;
    border-style: dotted;
    height: 100%;
    width: 6%;
}
.knowledge h2{
    border-style: dotted;
    border-color: crimson;
    height: 20px;
    width: 94%;
    margin-top: 20%;
    text-align: center;

}
.skills{
    display: flex;
    flex-direction: row;
    height: 25vh;
    width: 94%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-color: cyan;
    border-style: dotted;
    justify-content: center;
    
}
.skills img{
    overflow: hidden;
    height:90px ;
    width: 65px;
    box-sizing: border-box;
}
.skills-one{
    position: relative;
    animation-duration: 9s;
    animation-name: slidein;
    animation-direction: normal;
}
    @keyframes slidein {
        from {opacity: 0;}
      
        to {opacity: 1;}
}
    
.skills-two{
    position: relative;
    animation-duration: 7s;
    animation-name: slidein;}
    
    @keyframes slidein {
        from {opacity: 0;}
      
        to {opacity: 1;}

}
.skills-three{
    position: relative;
    animation-duration: 4s;
    animation-name: slidein;}
    @keyframes slidein {
        from {opacity: 0;}
      
        to {opacity: 1;}
}
form{
    text-align: center;
    margin-left: 7%;
}
h3{
    padding: 3%;
    text-align: center;
}
input{
    padding: 5px;
    margin: 5px 0px;
    width: 200px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.1rem;
}
textarea{
    padding: 5px;
    margin: 5px 0px;
    width: 200px;
    font-size: 1.1rem;
}
button{
    padding: 5px;
    margin: 5px 0px;
    width: 210px;
    font-size: 1.1rem;
    background: rgb(149, 132, 189);

}
button:hover{
    background-color: crimson;
    color: ghostwhite;
}
footer{
    padding: 20px;
    margin-top: 30px;
    margin-left: 50%;

}

